<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>
<body>

    <header> 
    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
    <p>Lugar para poner la barra</p>
    <br>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <section class="menu">
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tienda Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

        </nav>
    </section>
    <section class="Login Y Register">
        <nav>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresar</a></li>
                <li><a href="">Mis compras</a></li>
                
            </ul>
        </section>
    </header>

    <main>
<section class="Baner">
    <img src="/images/img-home-banner.jpg" alt="img-home-banner">
</section>
<section class="Producto">
    <h2>Basado en tu última visita</h2>
    <article>
        
            <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <p>$6.770</p>
            <span>40% OFF</span>
            <h4>Cafetera Moulinex</h4>
       
    </article>
<article>

    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"> </img>
    <p>$230.000</p>
    <span>20% OFF</span>
    <h4>MacBook Pro 2019</h4>
</article>
<article>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></img>
    <p>$70.500</p>
    <span>10% OFF</span>
    <h4>Samsung Galaxy S10</h4>
</article>
<article>
    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
    <p>$23.200</p>
    <span>5% OFF</span>
    <h4>SmartTv Samsung "43"</h4>
</article>
</section>

<section>
    <section class="Ofertas">
        <h2>Sección de Ofertas</h2>
        <article>
        
            <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <p>$6.770</p>
            <span>40% OFF</span>
            <h4>Cafetera Moulinex</h4>
       
    </article>
<article>

    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"> </img>
    <p>$230.000</p>
    <span>20% OFF</span>
    <h4>MacBook Pro 2019</h4>

</article>
<article>
<img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></img>
<p>$70.500</p>
<span>10% OFF</span>
<h4>Samsung Galaxy S10</h4>

</article>
<article>
    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
    <p>$23.200</p>
    <span>5% OFF</span>
    <h4>SmartTv Samsung "43"</h4>
</article>
        
    </section>
</section>
    </main>

    <footer>
 <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos
                gratis en miles deproductos. Es un beneﬁcio de Mercado
                Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a ﬁn</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que
                no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>